*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    /* background-color: #fff; */
    /* color: #434455; */
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display:block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.header .header-container {
    border-bottom: 4px;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: #4d5ae5;
    }
.logo-span {
color: #2e2f42;
}
.header .header-list-item {
    display:block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.header .header-list-item:hover,
.header .header-list-item:focus {
 color: #404bbf;
}
.contacts {
font-style: normal;
}
.contacts .contacts-link {
    display: block;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
color: #404bbf;
}
.hero {
background-color: #2e2f42;
}
/* .hero .hero-container { */
    /* padding-top:188px; */
    /* padding-bottom: 188px; */
/* } */
.hero-header {
    margin: 0 auto;
    max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 48px;
               
}
.hero .button-hero {
    display:block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
}
.hero .button-hero:hover,
.hero .button-hero:focus {
 background: #404bbf;
}
.advantages .advantages-list-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.advantages .advantages-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background-color: #F4F4FD;
}
.team-name {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.team .team-list-item {
    background-color: #FFFFFF;
}
.team .team-card {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team .team-names {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team .team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.portfolio {
    
}
.portfolio-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio .portfolio-list-item {
    background-color: #FFFFFF
}
.portfolio .projects-names {
    margin-top: 32px;
    margin-left: 16px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio .projects-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 16px;
    margin-bottom: 32px;
}
 .down-menu .footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
}
.down-menu {
        background-color: #2e2f42;
}
.down-menu-text {
    max-width: 264px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.logo-down {
    height: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: #4d5ae5;
        margin-bottom: 16px;
}
.logo-down .logo-down-span {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}